
label{
    font-weight: bold;
}
.log-form>input{
    background-color: whitesmoke;
    margin-bottom:8px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#notAMember{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}
.modal-body{
    margin-top: 0;
}
.SignBtns{
    display: inline-block;
    position: absolute;
    right: 2%;
    margin: 1.5%;
}
header{
    display: inline-block;
}
#SignUp,#SignIn{
    background-color: blue;
    color: white;
}
.heading{
    display: inline-block;
}
#scribblerTitle{
    font-family: 'Montez', cursive;
    color: blue;
  }
#subHeading{
    font-family: 'Ubuntu Mono', monospace;
}
#signUpModal,#signInModal{
    display: none;
    background-color: rgba(0,0,0,0.4);
}
#signUpbutton{margin-top: 20px;}
.logging{
    max-width: 400px;
}

