
body{
    position : relative;
    bottom:0;
}
.post-container{
    justify-content: center;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.heading-content {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
.editable{
    border-width: 2px;
    border-style: solid;
    border-color: red;
    margin: 0;
    outline: none;
}
.editable:hover{
    cursor: text;
}
.authorBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: monospace;
    font-size: xx-large;
}
.author{
    font-weight: 800;
}
#edit-button{
    margin-left: 500px;
    float: right;
    height: 40px;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
}
.fa-save{
    padding-left: 4px;
}
.post-content{
    align-content: center;
}
#likeBlog{
    background-color: #dc3545;
    color: white;
}
.likeBlogButton{
    margin-top: 1%;
    margin-bottom: 1%;
}
#userComments{
    width: 80%;
    height: 100px;
    margin: 1%;
}
#addList{
    width: 150px;
    height: 60px;
    margin: 1%;
    box-shadow: 3px 3px 3px 3px #ec959e;
}
#addComments{
    background-color: lightgrey;
    width: 82%;
    justify-content: center;
}
#addComments > p{
    height: 60px;
    background-color: white;
    margin: 1%;
    padding-top: 1%;
    padding-left: 1%;
}
