
body{
    position : relative;
    bottom:0;
}

.heading-content{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

#edit-button{
    margin-left: 500px;
    float: right;
    height: 40px;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
}
