body{
    background-color: #ffeedd;
}
.postsList{
    display: flex;
    flex-direction: row;
    block-size: 30%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.postCard{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-bottom: 3%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.postCard:hover{
    box-shadow: 10px 10px 5px grey;
}
.author{
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    display: inline-block;
    block-size: fit-content;
    line-height: 3;
    width: fit-content;
    background: space;
    align-self: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}
.card-content{
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 0 20px 20px 0;
    text-align: justify;
    padding: 1%;
}
.postBodyContent{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.trash{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.trash:hover{
    cursor: pointer;
}
.post-title{
    width: 90%;
}
#confirmDeleteModal{
    display: none;
    background-color: rgba(0,0,0,0.4);
}
.confirmDeleteButtons{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}
.readMore{

    color: black;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;

}