
body{
    position : relative;
    bottom:0;
}
.post-container{
    justify-content: center;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.heading-content {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
.editable{
    border-width: 2px;
    border-style: solid;
    border-color: red;
    margin: 0;
    outline: none;
}
.editable:hover{
    cursor: text;
}
.authorBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: monospace;
    font-size: xx-large;
}
.author{
    font-weight: 800;
}
#edit-button{
    margin-left: 500px;
    float: right;
    height: 40px;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
}
.fa-save{
    padding-left: 4px;
}
.post-content{
    align-content: center;
}
#likeBlog{
    background-color: red;
    color: white;
}
.likeBlogButton{
    margin-top: 1%;
    margin-bottom: 1%;
}
